services:
  app:
    build: .
    container_name: tg_antispam_bot
    restart: unless-stopped

    # Uncomment in case of webhook mode:
    # ports:
    #   - "8000:8000"

    env_file:
      - .env

    volumes:
      - ./logs:/app/logs
      - db_data:/app/database

    # Uncomment to use a shared internal network
    # networks:
    #   - antispam_net


  ollama:
    image: ollama/ollama:latest
    restart: unless-stopped

    ports:
      - "11434:11434"

    volumes:
      - ollama_data:/root/.ollama

    environment:
      - OLLAMA_HOST=0.0.0.0:11434

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:11434/api/tags"]
      interval: 30s
      timeout: 10s
      retries: 3

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

    # Uncomment to use a shared internal network
    # networks:
    #   - antispam_net


volumes:
  db_data:
  ollama_data:


# Uncomment if you want all services to communicate - using ollama
#
# networks:
#   antispam_net:
#     driver: bridge
